:root {
	--azul-max-escuro: #125da3;
	--azul-escuro: #2978c6;
	--azul-claro: #539fe5;
	--cor-fundo: #f4f4ff;
	--gradiente-azul: linear-gradient(
		to right,
		var(--azul-claro),
		var(--azul-escuro),
		var(--azul-max-escuro)
	);
	--sombra: rgb(200, 200, 200);
}
