.animadoReveal {
    transform: translateX(-60vw);
    transform-origin: top left;
    transition:
        transform 0.5s ease,
        opacity 0.8s ease;
    opacity: 0;
}

.animadoReveal:nth-of-type(even) {
    transform: translateX(60vw);
    transform-origin: right bottom;
    transition:
        transform 0.5s ease,
        opacity 0.8s ease;
    opacity: 0;
}
.animadoReveal.scrollReveal {
    transform: translateX(0) scale(1);
    opacity: 1;
}
