* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-texto-geral);
}

body {
    background-color: var(--cor-fundo);
    color: black;
    width: 100%;
    overflow-x: hidden;
}
body.menu-aberto {
    touch-action: none;
    overscroll-behavior: none;
    overflow: hidden;
}

.camadaBloqueadora {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 800;
}

.camadaBloqueadora.active {
    opacity: 1;
    pointer-events: all;
}

h2 {
    font-size: clamp(1.5rem, 8vw, 2rem);
    font-family: var(--font-titulos-principais);
}

