:root {
	--tamanho-header: calc(100dvh - 2.5rem);
}
header {
	display: flex;
	align-items: center;
	background-color: rgb(255, 252, 252);
	height: 2.5rem;
	box-shadow: 2px 0 4px black;
	justify-content: end;
	padding: 1rem;
	gap: 1rem;
	position: relative;
	z-index: 1000;
   overflow: hidden;
   width: 100dvw;
}

.menu-mobile {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	display: flex;
	height: 100%;
	position: relative;
	padding: 1rem;
}
#amburguer::after,
#amburguer::before,
#amburguer {
	pointer-events: none;
}
#amburguer {
	color: black;
	border-top: 2px solid;
	width: 20px;
}

#amburguer::after,
#amburguer::before {
	position: relative;
	width: 20px;
	height: 2px;
	content: "";
	display: block;
	margin-top: 0.3rem;
	background: currentColor;
	transition: 0.5s;
}
.menu-active #amburguer {
	border-top: 0;
}
.menu-active #amburguer::before {
	transform: rotate(-135deg);
}
.menu-active #amburguer::after {
	transform: rotate(135deg);
	top: -7px;
}
.nav-list {
	position: fixed;
	height: var(--tamanho-header);
	width: 70%;
	background-color: rgb(255, 253, 253);
	bottom: 0;
	right: 0;
	transform: translateX(100%);
	transition: 0.5s;
	visibility: hidden;
	border-left: 1px solid rgb(207, 207, 207);
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 1.2rem;
	gap: 1.2rem;
}
.nav-list.nav-active {
	transform: translateX(0);
	visibility: visible;
}
.nav-item {
	width: 100%;
	height: fit-content;
	border-bottom: 2px solid rgba(183, 180, 180, 0.664);
}
.nav-item a {
	color: rgb(19, 18, 18);
	text-decoration: none;
	width: 100%;
	height: 100%;
	font-size: 1.2rem;
	display: block;
	padding: 0 0.5rem;
	font-weight: 400;
}
.nav-item.nav-item-active {
	background-color: rgba(12, 12, 12, 0.349);
}

.incapacitor-de-tela.incapacitor-ativo {
	position: fixed;
	background-color: rgba(92, 92, 92, 0.527);
	inset: 0;
	z-index: 500;
	pointer-events: all;
}
