@media (min-width: 500px) {
    .formulario_agendamento {
        height: calc(100dvh - var(--height-header-mobile));
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .formulario_agendamento h1 {
        color: var(--azul-claro);
        text-align: center;
        font-family: var(--font-titulos-principais);
    }

    .formulario_agendamento form {
        width: 95%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: white;
        border-radius: 5%;
    }
    form .dados-form {
        width: 90%;
        height: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background-color: white;
        gap: 1rem;
    }
    .dados-form input,
    .dados-form select {
        width: 100%;
        height: clamp(2.5rem, 5vh, 3rem);
        padding: 0 1rem;
        font-size: clamp(1rem, 4vw, 1.5rem);
        background-color: rgba(238, 238, 238, 0.48);
        border: 2px solid rgb(162, 162, 162);
        margin: 1rem;

        outline: none;
    }
    .dados-form input {
        border-radius: 10px;
    }
    .dados-form input::placeholder {
        color: rgb(59, 59, 59);
    }
    .dados-form input:focus {
        outline: 3px solid rgb(159, 152, 227);
    }
    .btn-form {
        width: 85%;
        height: clamp(2.5rem, 5vh, 3rem);
        border-radius: 20px;
        font-size: clamp(1rem, 3vh, 1.5rem);
        margin: 1rem;
        color: rgb(47, 98, 228);
        background-color: white;
    }

    .btn-form:active {
        background-color: rgb(175, 175, 175);
    }
}
