@media (min-width: 500px) {
    :root {
        --tamanho-titulo-secundario: clamp(1.5rem, 7vw, 2.5rem);
    }
    section {
        scroll-margin-top: var(--height-header-tablet);
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: clamp(10rem, 8vh, 15rem);
        width: 100%;
    }

    #inicio {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 5rem;
    }
    #inicio .titulo-principal {
        font-size: clamp(2rem, 5vw, 3rem);
    }

    .home-image {
        background-color: var(--azul-claro);
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3%;
        margin: 0.5rem 0;
    }

    .home-image picture {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-image picture img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    #inicio h2 {
        color: var(--azul-claro);
        text-align: center;
        font-size: var(--tamanho-titulo-secundario);
    }
    #inicio h2 span {
        color: var(--azul-max-escuro);
    }
    #inicio button {
        border: none;
        width: 70%;
        font-size: clamp(2rem, 3vw, 3rem);
        background: var(--gradiente-azul);
        border-radius: 1rem;
        font-family: var(--font-titulos-principais);
        color: rgb(255, 255, 255);
        display: block;
    }
    #inicio button:active {
        background: rgb(0, 74, 154);
    }

    #localizacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    #localizacao h2 {
        color: var(--azul-claro);
        text-align: center;
        font-size: var(--tamanho-titulo-secundario);
    }
    .conteudo-secundario {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .conteudo-secundario .iframe-localizacao {
        width: 100%;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }
    .iframe-localizacao iframe {
        width: 70%;
        aspect-ratio: 1/1;
        border: 3px solid blue;
    }

    .localizacao-texto {
        text-align: center;
        font-size: clamp(25px, 1rem, 2.6rem);
        padding: 1rem;
        width: 70%;
    }
}
