<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Estilos presentes em todos os dispositivos  -->

		<link rel="stylesheet" href="css/estilos_universais/fonts.css" />
		<link rel="stylesheet" href="css/estilos_universais/cores.css" />
		<link rel="stylesheet" href="css/estilos_universais/padronizacao.css" />
		<!-- mobile -->
		<link rel="stylesheet" href="css/css_mobile/navegacao.css" />
		<link rel="stylesheet" href="css/css_mobile/corpo.css" />
		<link rel="stylesheet" href="css/css_mobile/footer_aside.css" />
		<link rel="stylesheet" href="css/css_mobile/depoimentos.css" />
		<!-- tablet -->
		<link rel="stylesheet" href="css/css_tablet/navegacao.css" />
		<link rel="stylesheet" href="css/css_tablet/corpo.css" />
		<link rel="stylesheet" href="css/css_tablet/footer_aside.css" />
		<!-- desktop -->
		<link rel="stylesheet" href="css/css_desktop/navegacao.css" />
		<link rel="stylesheet" href="css/css_desktop/corpo.css" />
		<link rel="stylesheet" href="css/css_desktop/footer_aside.css" />

		<title>Clinica odontológica</title>
	</head>
	<body>
		<header>
			<h1>Novo Sorriso</h1>
			<nav>
				<ul class="nav-list">
					<li class="nav-item active">
						<a href="./index.html">inicio</a>
					</li>
					<li class="nav-item">
						<a href="servicos.html">serviços</a>
					</li>
					<li class="nav-item">
						<a href="sobre.html">sobre</a>
					</li>
					<li class="nav-item">
						<a href="./agendamento.html">agendamento</a>
					</li>
					<li class="nav-item">
						<a href="#depoimentos">depoimentos</a>
					</li>
					<li class="nav-item">
						<a href="#localizacao">localização</a>
					</li>
				</ul>
				<div class="redes-sociais-menu">
					<div class="redes-sociais-icons">
						<div class="redes-sociais-icon">
							<img
								src="images/imagens_mobile/apps/whatsapp.webp"
								alt=""
							/>
						</div>
						<div class="redes-sociais-icon">
							<img src="images/imagens_mobile/apps/insta.webp" alt="" />
						</div>
						<div class="redes-sociais-icon">
							<img
								src="images/imagens_mobile/apps/facebook.webp"
								alt=""
							/>
						</div>
					</div>
					<h3>(99)9999-9999</h3>
				</div>
			</nav>

			<div class="icon-menu-mobile">
				<span class="icon-menu-linha"></span>
			</div>
		</header>

		<main>
			<section class="animadoReveal" id="inicio">
				<div class="home-image">
					<picture>
						<source
							media="(max-width:600px)"
							srcset="
								images/imagens_mobile/home/imagens_doutora/doutora_mobile.webp
							"
						/>
						<source
							media="(max-width:900px)"
							srcset="
								images/imagens_tablet/home/imagens_doutora/doutora_tablet.webp
							"
						/>
						<img
							src="images/imagens_tablet/home/imagens_doutora/doutora_desktop.webp"
							alt=""
						/>
					</picture>
				</div>
				<h2>
					<span class="span-azul-escuro">Seu</span>
					sorriso
					<br />
					<span class="span-azul-escuro">é</span>
					<br />
					nosso
					<span class="span-azul-escuro">conforto</span>
				</h2>
				<button onclick="window.location.href = './agendamento.html'">
					Agendar consulta
					<br />
					(99) 9999-9999
				</button>
			</section>
			<section class="animadoReveal" id="depoimentos">
				<h2>O que acham da gente</h2>
				<div class="slider">
					<button class="btn-slider btn-previous">&lt;</button>

					<div class="track-box">
						<div class="track">
							<div class="slide">
								<div class="slide-image">
									<img
										src="./images/imagens_mobile/home/imgs_avaliacoes/maria.webp"
									/>
								</div>
								<div class="slide-comentario">
									Lorem ipsum dolor sit amet consectetur adipisicing
									elit. Sint, soluta molestiae. Saepe ipsa repellendus
									pariatur eum enim? Officia unde, labore non
									temporibus, nesciunt corporis nisi repellendus
									tenetur debitis tempore voluptate.
								</div>
								<div class="slide-footer">
									<div class="slide-estrelas">
										<img
											src="./images/imagens_mobile/home/imgs_avaliacoes/estrelas.webp"
										/>
									</div>
									<h3>
										Maria
										<br />
										Google
									</h3>
								</div>
							</div>

							<div class="slide">
								<div class="slide-image">
									<img
										src="./images/imagens_mobile/home/imgs_avaliacoes/marcelo.webp"
									/>
								</div>
								<div class="slide-comentario">
									Lorem ipsum dolor, sit amet consectetur adipisicing
									elit. Est accusantium molestias nesciunt labore
									reiciendis doloribus repudiandae! Sed praesentium
									maxime dolores placeat blanditiis! Quia neque illum
									quaerat ullam natus facere vero.
								</div>
								<div class="slide-footer">
									<div class="slide-estrelas">
										<img
											src="./images/imagens_mobile/home/imgs_avaliacoes/estrelas.webp"
										/>
									</div>
									<h3>
										Marcelo
										<br />
										Facebook
									</h3>
								</div>
							</div>

							<div class="slide">
								<div class="slide-image">
									<img
										src="./images/imagens_mobile/home/imgs_avaliacoes/ana.webp"
									/>
								</div>
								<div class="slide-comentario">
									Lorem ipsum dolor sit, amet consectetur adipisicing
									elit. Ipsum quisquam inventore perspiciatis voluptas
									nesciunt. Consequuntur provident modi facilis eaque,
									in sunt iste, laboriosam voluptatum repudiandae nihil
									ad, expedita perferendis corrupti!
								</div>
								<div class="slide-footer">
									<div class="slide-estrelas">
										<img
											src="./images/imagens_mobile/home/imgs_avaliacoes/estrelas.webp"
										/>
									</div>
									<h3>
										Anna
										<br />
										Instagram
									</h3>
								</div>
							</div>
						</div>
					</div>

					<button class="btn-slider btn-next">&gt;</button>
				</div>
			</section>
			<section class="animadoReveal" id="localizacao">
				<h2>Localizacão</h2>
				<div class="iframe-localizacao">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30712.74444542564!2d-47.8797121499883!3d-15.799046565523412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a309ae31de7d3%3A0xc7c45a6f5981ca10!2sPal%C3%A1cio%20do%20Planalto!5e0!3m2!1spt-BR!2sbr!4v1769473704566!5m2!1spt-BR!2sbr"
						width="600"
						height="450"
						style="border: 0"
						allowfullscreen=""
						loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"
					></iframe>
				</div>
				<div class="localizacao-texto">
					<address>
						<strong>Endereço</strong>: Praça dos Três Poderes, Zona
						Cívico-Administrativa, Brasília - DF, CEP 70165-900.
					</address>
					<br />
					<address>
						<strong>Localização</strong>: Extremo leste do Eixo
						Monumental, fazendo parte da Praça dos Três Poderes, junto com
						o Palácio do Planalto e o Supremo Tribunal Federal (STF).
					</address>
				</div>
			</section>
		</main>
		<footer>
			<div>
				<h2>Horário de Expediente</h2>
				<p>
					Seg 9:00 am - 5:00 pm
					<br />
					Ter 9:00 am - 5:00 pm
					<br />
					Qua 9:00 am - 5:00 pm
					<br />
					Qui 9:00 am - 5:00 pm
					<br />
					Sex 9:00 am - 5:00 pm
				</p>
			</div>
			<div>
				<h2>Contate-nos</h2>
				<div class="footer-icons">
					<div class="footer-icon">
						<img src="images/imagens_mobile/apps/whatsapp.webp" alt="" />
					</div>
					<div class="footer-icon">
						<img src="images/imagens_mobile/apps/insta.webp" alt="" />
					</div>
					<div class="footer-icon">
						<img src="images/imagens_mobile/apps/facebook.webp" alt="" />
					</div>
				</div>
				<p>
					(99) 9999-9999
					<br />
					adria.tavares.2008@gmail.com
				</p>
			</div>
			<div>
				<h2>Outras redes</h2>
				<div class="footer-icons">
					<div class="footer-icon">
						<img src="images/imagens_mobile/apps/whatsapp.webp" alt="" />
					</div>
					<div class="footer-icon">
						<img src="images/imagens_mobile/apps/whatsapp.webp" alt="" />
					</div>
				</div>
			</div>
			<div class="logo-footer">
				<h1>Novo Sorriso</h1>
			</div>
		</footer>
		<script src="js/efeitos/menu_mobiile.js"></script>
		<script src="js/efeitos/observador.js"></script>
		<script src="js/menu/links_menu.js"></script>
		<script src="js/slide/desktop.js"></script>
		<script src="js/slide/mobile.js"></script>
	</body>
</html>
